// Стилі для контейнера бібліотеки
.container {
    // mobile styles:
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    // tablet styles:
    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    // desktop styles:
    @media screen and (min-width: 1280px) {
        max-width: 1280px;
        padding-left: 32px;
        padding-right: 32px;
    }
}