// Стилі для контейнера бібліотеки

.container-library {
  // mobile styles:
  max-width: 320px;
  min-height: calc(100vh - 430px);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  // tablet styles:
  @media screen and (min-width: 768px) {
    max-width: 768px;
    min-height: calc(100vh - 470px);
    padding-left: 32px;
    padding-right: 32px;
  }

  // desktop styles:
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    min-height: calc(100vh - 485px);

    padding-left: 32px;
    padding-right: 32px;
  }
}

.library-section {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__card-info {
    padding-left: 5px;
    padding-right: 5px;
  }

  &__card-set {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 32px;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (min-width: 1280px) {
      row-gap: 32px;
      column-gap: 16px;
    }
  }

  &__item {
    width: 280px;
    height: 438px;

    transition: transform var(--animation-duration) var(--timing-function);
    &:hover {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        -23px 0 20px -23px rgba(0, 0, 0, 0.8),
        23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      transform: scale(1.03);
    }

    @media screen and (min-width: 768px) {
      width: 336px;
      height: 495px;
    }

    @media screen and (min-width: 1280px) {
      width: 394px;
      height: 634px;
    }
  }

  &__card-img {
    display: block;
    width: 100%;
    height: 398px;
    border-radius: 5px;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      height: 445px;
    }

    @media screen and (min-width: 1280px) {
      height: 574px;
    }
  }

  &__card-title {
    text-transform: uppercase;
  }

  &__card-title,
  &__card-description {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: calc(16 / 12);
    color: #000000;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: calc(24 / 20);
    }
  }

  &__card-description {
    display: flex;
  }

  &__card-genre {
    margin-right: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__card-genredelimiter {
    margin-right: 2px;
  }

  &__card-year {
    margin-right: 9px;
  }

  &__card-genre,
  &__card-genredelimiter,
  &__card-year {
    color: #ff6b08;
  }

  &__card-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: calc(14 / 12);
    color: #ffffff;

    width: 36px;
    height: 16px;

    background: #ff6b01;
    border-radius: 5px;

    @media screen and (min-width: 1280px) {
      width: 40px;
      height: 20px;
    }
  }
}
