
.card_collection {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 32px;
  }

  @media screen and (min-width: $desctop) {
    column-gap: 16px;
    row-gap: 32px;
  }
}

.card {
  margin-bottom: 20px;
  width: 280px;
  cursor: pointer;

  transition: transform $time-duration $timing-function,
  box-shadow $time-duration $timing-function;

  &:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      -23px 0 20px -23px rgba(0, 0, 0, 0.8),
      23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    transform: scale(1.03);
  }

  @media screen and (min-width: $tablet) {
    width: 336px;
  }
  @media screen and (min-width: $desctop) {
    width: 394px;
  }
}

.card__img {
  height: 402px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    height: 455px;
    margin-bottom: 8px;
  }

  @media screen and (min-width: $desctop) {
    height: 574px;
    margin-bottom: 12px;
  }
}

.card__box-info {
  padding-left: 5px;
  padding-right: 5px;
}

.card__data {
  display: flex;
  // flex-wrap: wrap;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__title {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: left;
  color: $primary-text-color;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @media screen and (min-width: $desctop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__genres {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height: 1.33;
  text-align: left;
  color: $accent-color;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @media screen and (min-width: $desctop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__year {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height: 1.33;
  text-align: left;
  color: $accent-color;
  padding-left: 5px;

  // text-overflow: ellipsis;
  // overflow: hidden;
  // white-space: nowrap;

  @media screen and (min-width: $desctop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__undefined {
  color: $accent-color;

  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height: 1.33;
  text-align: left;

  @media screen and (min-width: $desctop) {
    font-size: 20px;
    line-height: 1.2;
  }
}
