.card_collection {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.card {
  margin-bottom: 20px;
  width: 280px;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    width: 336px;
  }
  @media screen and (min-width: $desctop) {
    width: 395px;
  }
}

.card__img {
  height: 402px;
  border-radius: 5px;

  @media screen and (min-width: $tablet) {
    height: 455px;
  }

  @media screen and (min-width: $desctop) {
    height: 574px;
  }
}

.card__title {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: left;
  color: $primary-text-color;

  @media screen and (min-width: $desctop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__genres {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height: 1.33;
  text-align: left;
  color: $accent-color;

  @media screen and (min-width: $desctop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__year {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height: 1.33;
  text-align: left;
  color: $accent-color;

  @media screen and (min-width: $desctop) {
    font-size: 20px;
    line-height: 1.2;
  }
}
