// Базові стилі

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

// Унікальні стилі для хедера бібліотеки
header {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 45px 20px;
  height: 230px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #2a2a2a;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(../images/bg-image-header-my-library-mobile-2x.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__library {
  background-color: #000;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(../images/bg-image-header-my-library-desctop-1x.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/bg-image-header-my-library-tablet-2x.jpg);
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56)),
      url(../images/bg-image-header-my-library-desctop-2x.jpg);
  }
}

.header__library-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 37px;
}

//Buttons

.storage {
  display: flex;
  justify-content: center;

  &__item {
    height: 44px;

    @media screen and (min-width: 768px) {
      width: 136px;
    }
  }

  &__list {
    display: flex;
    gap: 16px;
  }

  &__item {
    display: block;
  }

  &__item:not(:last-child) {
    margin-right: 20px;

    @media screen and (min-width: 768px) {
      margin-right: 15px;
    }
  }
}

.button {
  display: inline-block;
  cursor: pointer;
  padding: 14px 36px 12px;
  min-width: 130px;
  font-weight: 500;
  line-height: 1.33333;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;

  .button {
    @media screen and (min-width: 768px) {
      padding-left: 38px;
      padding-right: 38px;
      min-width: 136px;
    }
  }

  &:hover,
  &:focus {
    background-color: #ff6b01;
  }
  &.current {
    background-color: #ff6b01;
  }
}

.studio-line {
  position: relative;
  &::after {
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2.86px;
    background-color: #ff001b;
  }
}

// logo

.logo {
  display: flex;
  align-self: flex-end;
}

.logo {
  @media screen and (max-width: 767px) {
    margin-right: 112px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 303px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 564px;
  }
}

.logo__svg {
  width: 24px;
  height: 24px;
  align-self: center;
  stroke: #818181;
  transition-property: stroke;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 12px;
}

.logo__text {
  font-size: 30px;
  line-height: 1.72;
  font-weight: 500;
  color: #fff;

  @media screen and (max-width: 767px) {
    margin-right: 112px;
    display: none;
  }
}

.logo__svg {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    margin-right: 10px;
  }
}

// Menu

.menu__library-list {
  display: flex;
  gap: 39px;
}

.menu__item {
  position: relative;
}

.menu__link {
  font-size: 12px;
  line-height: 1.16;
  color: #fff;
  text-transform: uppercase;
}
