.pagination__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    .list {
        width: 100%;
        max-width: 768px;
        background-color: #FFF;
        margin-top: 25px;
    }

    .list .item {
        padding: 15px;
    }


    .list .item:hover {
        background-color: rgb(0, 0, 0, 0.05);
    }
}

.pagenumbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    button {
        width: 40px;
        height: 40px;

        appearance: none;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 5px;

        transition: 0.5s;
        color: #000000;

        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        font-style: normal;
        background-color: #FFF;

    }

    button:hover {
        background-color: #FF6B08;
        color: #FFFFFF;
        border-radius: 5px;
    }

    button.active {
        background-color: #FF6B08;
        color: #FFFFFF;
        border-radius: 5px;
    }
}


@media screen and (max-width: 400px) {
    .pagenumbers button {
        width: 38px;
        height: 38px;
        margin: 3px;
    }
}

@media screen and (max-width: 320px) {
    .pagenumbers button {
        width: 35px;
        height: 35px;
        margin: 1px;
    }
}

.arrow_left {
    background-image: url('../images/pagination/arrow-left.svg');
    background-repeat: no-repeat;
}

.arrow_right {
    background-image: url('../images/pagination/arrow-right.svg');
    background-repeat: no-repeat;
}

.pagination__container_pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pag-arrow {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-position: center;
    border: none;
    background-color: #fff;
    transition: background-color 0.25s ease-in;
    border-radius: 5px;

    &:hover {
        background-color: #FF6B08;
        color: #FFFFFF;
        border-radius: 5px;
    }

    &:active {
        background-color: green;
    }
}

.threeDots {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 5px;

    border: none;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px 5px 1px 5px;
}

@media screen and (max-width: 767px) {
    .threeDots {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .threeDots {
        display: inline-block;
    }
}

.hide {
    display: none;
}

.disabled-arrow {
    pointer-events: none;
    background-color: #c4c0c0;
}