@import './common';

@import './utils/variables';
@import './utils/base-reset';
@import './utils/custom-styles';

@import './header-common';
@import './header-home';
@import './header-library';
@import './container-home';
@import './container-library';
@import './pagination';
@import './slider';
@import './buttons';
@import './film-card';
@import './footer';
@import './film-card-modal';
@import './team-modal';
@import './spiner';
@import './utils/btn-trailer';