.btn-trailer{
    position: absolute;
    top:-40;
    left: 0px;

    display:block;
  cursor: pointer;
  font-size: $primary-font-size;
  padding: 10px 20px 10px;
  width: 130px;
  font-weight: $primary-font-weight;
  line-height: 1.33333;
  text-align: center;
  text-transform: uppercase;
  color: $primary-bgc;
  background: $accent-color;
  border: 1px solid $primary-bgc;
  border-radius: 5px;

  @media screen and (max-width: 767px) {
    top:5px;
    left: 20px;
  }

  &:hover,
  &:focus {
    color: #000;
    background-color: #fff;
    border-color: #000;
  }
}

.trailer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000041;
    visibility: visible;
    opacity: 1;

    &.js-hidden{
        opacity: 0;
  pointer-events: none;
  visibility: hidden;;

    }
}


.trailer-cont{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 10;
justify-content: center;


} 

.video-trailer{
    max-width: 320px;
    height: 240px;

    @media screen and (min-width: 768px) {
       max-width: 560px;
       width: 560px;
        height: 315px;
      }
}
