// window size
$mobile: 320px;
$tablet: 768px;
$desctop: 1280px;

// fonts
$primary-font-family: 'Roboto', sans-serif;
$primary-font-weight: 500;
$secondary-font-weight: 400;
$primary-font-size: 12px;
$secondary-font-size: 14px;

// colors
$primary-bgc: #ffffff;
$primary-text-color: #000000;
$header-bgc: rgba(0, 0, 0, 0.56);
$button-bgc-and-footer: #f7f7f7;
$current-link-under-line-color: #ff001b;
$accent-color: #ff6b01;
$footer-text: #545454;
$modal-text: #8c8c8c;

// animations
$time-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
