

  <!-- МОДАЛЬНЕ ВІКНО -->
  <div class="modal is-hidden" data-modal>
    <div class="modal_bodi">
      <div class="modal-content">
        <button class="modal_close" type="button" data-modal-close>
          <svg class="modal_close__svg" width="14" height="14">
            <use href="./images/icons.svg#icon-close-30x30"></use>
          </svg>
        </button>

        <!-- <div class="modal_img">
          <a>
            <img
              class="img"
              src="./images/bg-image-header-home-desctop-1x.jpg"
              alt="not found"
          /></a>
        </div>
        <div class="modal_container_info">
          <h2 class="modal_title">A FISTFUL OF LEAD</h2>
          <table class="modal_table">
            <tr>
              <td class="table_info">Vote / Votes</td>
              <td class="table_styles js-table_vote">
                2<span class="table_styles js-table_votes">/1</span>
              </td>
            </tr>
            <tr>
              <td class="table_info">Popularity</td>
              <td class="table_styles js-table_popularity">2</td>
            </tr>
            <tr>
              <td class="table_info">Original Title</td>
              <td class="table_styles js-table_original">3</td>
            </tr>
            <tr>
              <td class="table_info">Genre</td>
              <td class="table_styles">4</td>
            </tr>
          </table>
          <div class="modal_information">
            <p class="information_title">About</p>
            <p class="information_txt">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore,
              sint? Odio voluptatum illo velit, eius ad optio impedit fugit
              deleniti, vero sequi eos fuga ipsa repellendus placeat magnam
              debitis minus? Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Iste ipsam sed dolor accusantium facilis inventore voluptas
              dolorem quam sapiente necessitatibus labore, quos beatae
              consequatur tenetur mollitia recusandae quae voluptatum incidunt?
              Four of the West’s most infamous outlaws assemble to steal a Lorem
              ipsum, dolor sit amet consectetur adipisicing elit. Incidunt,
              quaerat unde eaque aperiam ullam fugiat repellat vero ab voluptate
              delectus et aliquid, ad temporibus vitae totam asperiores quasi
              itaque ea.
            </p>
          </div>
        </div> -->
        <!-- <div class="btn">
          <button class="btn_watched button">add to watched</button>
          <button class="btn_queue button">add to queue</button>
        </div> -->
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
