<header class="header__library-style header__library">
  <div class="header__library-navigation">
    <a href="/src/index.html" class="header__library-logo">
      <svg class="header__library-logo-svg">
        <use href="/src/images/icons.svg#icon-logo-24x24"></use>
      </svg>
      <span class="header__library-logo-text">Filmoteka</span>
    </a>
    <nav class="menu__library-nav">
      <ul class="menu__library-list list">
        <li class="menu__library-item">
          <a href="/src/index.html" class="menu__link">Home</a>
        </li>
        <li class="menu__library-item">
          <a href="/src/library.html" class="menu__link studio-line current"
            >My library</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="storage">
    <ul class="storage__list">
      <il class="storage__item">
        <button class="storage__button button__library js-watch" type="button">
          Watched
        </button>
      </il>
      <il class="storage__item">
        <button class="storage__button button__library js-queue" type="button">
          Queue
        </button>
      </il>
    </ul>
  </div>
</header>
