<header class="header header__main">
  <div class="header__main-navigation">
    <a href="/src/index.html" class="header__library-logo">
      <svg class="header__library-logo-svg">
        <use href="/src/images/icons.svg#icon-logo-24x24"></use>
      </svg>
      <span class="header__library-logo-text">Filmoteka</span>
    </a>
    <nav class="home__main-nav">
      <ul class="home__main-list list">
        <li class="home__main-item">
          <a href="/src/index.html" class="home__link current home-line"
            >Home</a
          >
        </li>
        <li class="home__main-item">
          <a href="/src/library.html" class="home__link">My library</a>
        </li>
      </ul>
    </nav>
  </div>
  <form class="search-form js-search-form" id="search-form-header">
    <input
      class="header-form__input search-form-input"
      type="text"
      placeholder="Movie search"
      name="query"
      autocomplete="off"
    />
    <button class="header-form__btn" type="submit" aria-label="Search">
      <svg class="header-form__icon" width="12" height="12">
        <use href="./images/icons.svg#icon-search-12x12"></use>
      </svg>
    </button>
  </form>
  <p class="header-form__error js-error-notify"></p>
</header>
